<h2>{{model.name}} {{model.height}} ft</h2>
<h3>Hikes</h3>

<ul>
{{#each model.hikes as |hike|}}
{{!-- {{#if hike.id}} --}}
{{mountain-hike
  id=hike.id
  hike=hike
  deleteHike='deleteHike'
  createHike='createHike'}}
{{!-- {{/if}} --}}
{{/each}}
</ul>

{{#link-to 'hike-add' model.id}}<button>Add a Hike</button>{{/link-to}}
